body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: var(--oxford-blue);
  color: var(--white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* General */

:root {
  --white: #FEFFFE;
  --slate-blue: #6564DB;
  --persian-blue: #232ED1;
  --oxford-blue: #101D42;
  --rich-black: #0D1317;
}

.button {
  display: inline-block;
  padding: 10px;
  border: 2px solid var(--slate-blue);
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s ease;
  margin: .5em;
  font-weight: bold;
}

.button:hover {
  background-color: var(--slate-blue);
}

.button-clicked {
  display: inline-block;
  padding: 10px;
  background-color: var(--slate-blue);
  border-radius: 4px;
  cursor: pointer;
  transition: all .2s ease;
  margin: .5em;
  font-weight: bold
}

/* Login Page */

.login-container {
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.login-header {
  font-size: 5em;
  text-shadow: 0px 10px 3px solid var(--rich-black);
}

.login-header span {
  color: var(--slate-blue);
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
}

.input-container input {
  outline: none;
  border: none;
  border-bottom: 2px solid var(--slate-blue);
  background-color: transparent;
  color: var(--white);
  font-size: 1.25em;
}

.input-container label {
  margin: .5em 0em;
  text-align: left;
  font-size: 1.3em;
}

.login-button {
  width: 100%;
  margin: 0;
}

.input-container p {
  margin: 0;
  text-align: left;
  color: rgb(156, 0, 0);
  font-weight: bold;
  text-shadow: 0px 1px 1px rgb(92, 0, 0);
}

.submition-container {
  width: 30%;
  margin: 0 auto;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submition-container p {
  margin-bottom: .25em;
  width: 100%;
}

/* nav */
.nav-bar {
  width: 100%;
  background-color: var(--rich-black);
  border-bottom: 2px solid var(--slate-blue);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.nav-bar h1 {
  font-size: 3em;
  margin: .25em 0em;
  grid-column: 2;
  text-align: center;
  cursor: pointer;
}

.nav-bar h1 span {
  color: var(--slate-blue);
}

.grid-column {
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

/* New Post */

.new-post-container {
  margin: 1em auto;
  width: 40%;
  border: 2px solid var(--slate-blue);
  border-radius: 3px;
  background-color: var(--rich-black);
  padding: .5em;
}

.new-post-container p {
  margin: .25em;
  font-weight: 500;
  text-align: center;
}

.joke-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.joke-input {
  border: none;
  background-color: var(--slate-blue);
  border-radius: 2px;
  border: 4px solid var(--oxford-blue);
  width: 80%;
  outline: none;
  color: var(--white);
  font-size: 1.25em;
  padding: 5px;
}

.post {
  padding: 5px 10px;
}

/* Feed */
.feed-container {
  margin: 0 auto;
  margin-bottom: 1em;
  max-height: 40em;
  width: 40%;
  border: 2px solid var(--slate-blue);
  border-radius: 3px;
  background-color: var(--rich-black);
  padding: .5em;
  text-align: center;
  overflow-y: auto;
}

/* posts */

.post-meta-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.meta-username {
  display: inline-block;
  margin: .25em 0 0 0;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
}

.vote-total {
  display: inline-block;
  margin: .25em 0 0 0;
  font-weight: 600;
  text-align: right;
}

.post-joke-container {
  width: 90%;
  padding: 10px;
  border: 3px solid var(--slate-blue);
  margin: .25em auto;
  text-align: center;
  overflow-wrap: anywhere;
}

.voting-container {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.vote-button {
  width: 50%;
}

/* bottom nav */

.bottom-nav {
  width: 100%;
  background: var(--rich-black);
  border-top: 2px solid var(--slate-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* account page */

.username-header {
  text-align: center;
}

.user-post-container {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 1em;
  border: 2px solid var(--slate-blue);
  border-radius: 3px;
  background-color: var(--rich-black);
  padding: 10px;
  min-height: 40em;
}

.user-post-container h2 {
  text-align: center;
  margin: 0;
}

